<style>
<!--
A{
  color: #2222FF
}

body, p, li, blockquote, td, .ct{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12pt;
  text-align: justify;
}


P {
	MARGIN: 10pt 2pt 0pt; TEXT-ALIGN: justify; TEXT-INDENT: 18pt
}

.commented{
  color: green;
  font-style: italic
}

.comments{
  color: #880088;
  margin: 10pt 2pt 0pt 30pt;
  TEXT-INDENT: 18pt
}

.quote{
  color: #880088;
  font-size: 10pt;
  font-weight: bold;
}



-->
</style>

